body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: calc(100vh - 56px);
}

.card-text {
    font-size: 2rem;
}

.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}

.fade-in {
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
